In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load
csvfile = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csvfile)

In [129]:
# Player count- Display the total number of players
total_players = len(purchase_df["SN"].unique())
total_players_df = pd.DataFrame({
    "Total Players":[total_players]
})
total_players_df

   Total Players
0            576

In [19]:
#Purchasing Analysis (Total)
#Run basic calculations to obtain number of unique items, average price, etc.
#Create a summary data frame to hold the results; Optional: give the displayed data cleaner formatting
unique_items = len(purchase_df["Item ID"].unique())
average_price = round((purchase_df["Price"].mean()), 2)
number_purchases = len(purchase_df["Price"])
total_revenue = purchase_df["Price"].sum()

purchase_analysis_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": ["$" + str(average_price)],
    "Number of Purchases": [number_purchases],
    "Total Revenue": ["$" + str(total_revenue)]
})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [135]:
#Gender Demographics
#Percentage&Count of Male Players, Percentage&Count of Female Players, Percentage&Count of Other/Non-Disclosed
all_genders = []
all_sn = []
unique_genders = []

for gender in purchase_df["Gender"]:
    all_genders.append(gender)

for sn in purchase_df["SN"]:
    all_sn.append(sn)

unique_players = purchase_df["SN"].unique()
unique_players

for i in unique_players:
    unique_player_index = all_sn.index(i)
    unique_genders.append(all_genders[unique_player_index])

gender_count_series = pd.Series(i[0] for i in unique_genders)

male_count = gender_count_series.value_counts()[0]
female_count = gender_count_series.value_counts()[1]
other_count = gender_count_series.value_counts()[2]
male_percent = round(((male_count / total_players) * 100), 2)
female_percent = round(((female_count / total_players) * 100), 2)
other_percent = round(((other_count / total_players) * 100), 2)

gender_count_df = pd.DataFrame({
    "Total Count": [male_count, female_count, other_count],
    "Percentage of Players": [str(male_percent) + "%", str(female_percent) + "%", str(other_percent) + "%"]},
    index = ['Male', 'Female', 'Other / Non-Disclosed']
)
gender_count_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [170]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results; Optional: give the displayed data cleaner formatting
male_purchase = purchase_df["Gender"].value_counts()[0]
female_purchase = purchase_df["Gender"].value_counts()[1]
other_purchase = purchase_df["Gender"].value_counts()[2]

male_total = 0
female_total = 0
other_total = 0

for i in range(len(purchase_df["Gender"])):
    if purchase_df["Gender"][i] == "Male":
        male_total += purchase_df["Price"][i]
    elif purchase_df["Gender"][i] == 'Female':
        female_total += purchase_df["Price"][i]
    else:
        other_total += purchase_df["Price"][i]

male_avg_purprice = round((male_total / male_purchase), 2)
female_avg_purprice = round((female_total / female_purchase), 2)
other_avg_purprice = round((other_total / other_purchase), 2)

male_avg_totpur = round((male_total / male_count), 2)
female_avg_totpur = round((female_total / female_count), 2)
other_avg_totpur = round((other_total / other_count), 2)
        
purchase_anlysis_df = pd.DataFrame({
    "Purchase Count": [male_purchase, female_purchase, other_purchase],
    "Average Purchase Price": ["$" + str(male_avg_purprice), "$" + str(female_avg_purprice), "$" + str(other_avg_purprice)],
    "Total Purchase Value": ["$" + str(round(male_total,2)), "$" + str(round(female_total,2)), "$" + str(round(other_total, 2))],
    "Avg Total Purchase per Person": ["$" + str(male_avg_totpur), "$" + str(female_avg_totpur), "$" + str(other_avg_totpur)]},
    index = ['Male', 'Female', 'Other / Non-Disclosed']
)

purchase_anlysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.2,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [209]:
#Age Demographics
#Establish bins for ages, Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group, Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points

all_ages = []
unique_ages = []

for age in purchase_df["Age"]:
    all_ages.append(age)

for i in unique_players:
    unique_player_index = all_sn.index(i)
    unique_ages.append(int(all_ages[unique_player_index]))

less10 = 0
btw10a14 = 0
btw15a19 = 0
btw20a24 = 0
btw25a29 = 0
btw30a34 = 0
btw35a39 = 0
above40 = 0

for i in range(len(unique_ages)):
    if unique_ages[i] < 10:
        less10 += 1
    elif unique_ages[i] >= 10 and unique_ages[i] <= 14:
        btw10a14 += 1
    elif unique_ages[i] >= 15 and unique_ages[i] <= 19:
        btw15a19 += 1
    elif unique_ages[i] >= 20 and unique_ages[i] <= 24:
        btw20a24 += 1
    elif unique_ages[i] >= 25 and unique_ages[i] <= 29:
        btw25a29 += 1
    elif unique_ages[i] >= 30 and unique_ages[i] <= 34:
        btw30a34 += 1
    elif unique_ages[i] >= 35 and unique_ages[i] <= 39:
        btw35a39 += 1
    else:
        above40 += 1

less10percent = round(((less10 / len(unique_ages)) * 100), 2)
btw10a14percent = round(((btw10a14 / len(unique_ages)) * 100), 2)
btw15a19percent = round(((btw15a19 / len(unique_ages)) * 100), 2)
btw20a24percent = round(((btw20a24 / len(unique_ages)) * 100), 2)
btw25a29percent = round(((btw25a29 / len(unique_ages)) * 100), 2)
btw30a34percent = round(((btw30a34 / len(unique_ages)) * 100), 2)
btw35a39percent = round(((btw35a39 / len(unique_ages)) * 100), 2)
above40percent = round(((above40 / len(unique_ages)) * 100), 2)

age_anlysis_df = pd.DataFrame({
    "Total Count": [less10, btw10a14, btw15a19, btw20a24, btw25a29, btw30a34, btw35a39, above40],
    "Percentage of Players": [str(less10percent) + "%", str(btw10a14percent) + "%", str(btw15a19percent) + "%", str(btw20a24percent) + "%", str(btw25a29percent) + "%", str(btw30a34percent) + "%", str(btw35a39percent) + "%", str(above40percent) + "%"]},
    index = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
)

age_anlysis_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [210]:
#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results; Optional: give the displayed data cleaner formatting

less10purcount = 0
btw10a14purcount = 0
btw15a19purcount = 0
btw20a24purcount = 0
btw25a29purcount = 0
btw30a34purcount = 0
btw35a39purcount = 0
above40purcount = 0

for i in range(len(purchase_df["Age"])):
    if purchase_df["Age"][i] < 10:
        less10purcount += 1
    elif purchase_df["Age"][i] >= 10 and purchase_df["Age"][i] <= 14:
        btw10a14purcount += 1
    elif purchase_df["Age"][i] >= 15 and purchase_df["Age"][i] <= 19:
        btw15a19purcount += 1
    elif purchase_df["Age"][i] >= 20 and purchase_df["Age"][i] <= 24:
        btw20a24purcount += 1
    elif purchase_df["Age"][i] >= 25 and purchase_df["Age"][i] <= 29:
        btw25a29purcount += 1
    elif purchase_df["Age"][i] >= 30 and purchase_df["Age"][i] <= 34:
        btw30a34purcount += 1
    elif purchase_df["Age"][i] >= 35 and purchase_df["Age"][i] <= 39:
        btw35a39purcount += 1
    else:
        above40purcount += 1

less10totval = 0
btw10a14totval = 0
btw15a19totval = 0
btw20a24totval = 0
btw25a29totval = 0
btw30a34totval = 0
btw35a39totval = 0
above40totval = 0
        
for i in range(len(purchase_df["Age"])):
    if purchase_df["Age"][i] < 10:
        less10totval += purchase_df["Price"][i]
    elif purchase_df["Age"][i] >= 10 and purchase_df["Age"][i] <= 14:
        btw10a14totval += purchase_df["Price"][i]
    elif purchase_df["Age"][i] >= 15 and purchase_df["Age"][i] <= 19:
        btw15a19totval += purchase_df["Price"][i]
    elif purchase_df["Age"][i] >= 20 and purchase_df["Age"][i] <= 24:
        btw20a24totval += purchase_df["Price"][i]
    elif purchase_df["Age"][i] >= 25 and purchase_df["Age"][i] <= 29:
        btw25a29totval += purchase_df["Price"][i]
    elif purchase_df["Age"][i] >= 30 and purchase_df["Age"][i] <= 34:
        btw30a34totval += purchase_df["Price"][i]
    elif purchase_df["Age"][i] >= 35 and purchase_df["Age"][i] <= 39:
        btw35a39totval += purchase_df["Price"][i]
    else:
        above40totval += purchase_df["Price"][i]

less10avgprice = less10totval / less10purcount
btw10a14avgprice = btw10a14totval / btw10a14purcount
btw15a19avgprice = btw15a19totval / btw15a19purcount
btw20a24avgprice = btw20a24totval / btw20a24purcount
btw25a29avgprice = btw25a29totval / btw25a29purcount
btw30a34avgprice = btw30a34totval / btw30a34purcount
btw35a39avgprice = btw35a39totval / btw35a39purcount
above40avgprice = above40totval / above40purcount

less10avgtotpur = less10totval / less10
btw10a14avgtotpur = btw10a14totval / btw10a14
btw15a19avgtotpur = btw15a19totval / btw15a19
btw20a24avgtotpur = btw20a24totval / btw20a24
btw25a29avgtotpur = btw25a29totval / btw25a29
btw30a34avgtotpur = btw30a34totval / btw30a34
btw35a39avgtotpur = btw35a39totval / btw35a39
above40avgtotpur = above40totval / above40
        
age_anlysis2_df = pd.DataFrame({
    "Purchase Count": [less10purcount, btw10a14purcount, btw15a19purcount, btw20a24purcount, btw25a29purcount, btw30a34purcount, btw35a39purcount, above40purcount],
    "Average Purchase Price": ["$" + str(round(less10avgprice, 2)), "$" + str(round(btw10a14avgprice, 2)), "$" + str(round(btw15a19avgprice, 2)), "$" + str(round(btw20a24avgprice, 2)), "$" + str(round(btw25a29avgprice,2)), "$" + str(round(btw30a34avgprice,2)), "$" + str(round(btw35a39avgprice,2)), "$" + str(round(above40avgprice,2))],
    "Total Purchase Value": ["$" + str(round(less10totval, 2)), "$" + str(round(btw10a14totval, 2)), "$" + str(round(btw15a19totval, 2)), "$" + str(round(btw20a24totval, 2)), "$" + str(round(btw25a29totval,2)), "$" + str(round(btw30a34totval,2)), "$" + str(round(btw35a39totval,2)), "$" + str(round(above40totval,2))],
    "Avg Total Purchase per Person": ["$" + str(round(less10avgtotpur, 2)), "$" + str(round(btw10a14avgtotpur, 2)), "$" + str(round(btw15a19avgtotpur, 2)), "$" + str(round(btw20a24avgtotpur, 2)), "$" + str(round(btw25a29avgtotpur,2)), "$" + str(round(btw30a34avgtotpur,2)), "$" + str(round(btw35a39avgtotpur,2)), "$" + str(round(above40avgtotpur,2))]},
    index = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
)

age_anlysis2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [ ]:
#Top Spenders- Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order; Optional: give the displayed data cleaner formatting